@tailwind utilities;

.section-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .product-section-container {
        display: flex !important;
        flex-direction: column;
        row-gap: 1rem !important;
    }
}
