@tailwind utilities;

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 300px;
    position: relative;
}

.slide-inner {
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;          /* чтоб было понятно, что это ссылка */
}


.slider-text {
    position: absolute;
    white-space: pre-line;
    top: 0;
    bottom: 0;
    font-size: 48px;
    left: 10%;
    margin-top: 40px;
    max-width: 382px;
    line-height: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    color: #454545;
}

.slide-image {
    height: 250px;
    width: auto;
    object-fit: contain;
}


@media (width <= 1000px) {
    .slider-text {
        left: 5%;
    }
}
