@tailwind utilities;

.slide {
    flex: 0 0 100%; /* фиксированная ширина */
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    display: flex;
    align-items: center;
    color: #454545;
}

@media (width <= 1000px) {
    .slider-text {
        left: 5%;
    }
}
