.dot {
    width: 12px;
    height: 12px;
    border: 1px solid #72BF44;
    background: rgba(235, 239, 241, 0.5);
}

.dot.selected {
    width: 12px;
    height: 12px;
    border: 1px solid #72BF44;
    background: #72BF44;
}
