@tailwind utilities;

.card {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ebeff1;
    border-top-color: #fff;
    border-left-color: #fff;
    display: grid;
    position: relative;
}

.card:hover {
    border: 1px solid #72BF44;
}

.card img {
    width: 100%;
}

.card-image {
    width: 220px;
    height: 212px;
    object-fit: cover;
}

/* Мобильная версия - растягиваем картинку на 100% ширины */
@media (width <= 1000px) {
    .card-image {
        width: 100% !important;
        height: auto;
        min-height: 200px;
        max-height: 250px;
    }
    
    .card {
        width: 100%;
        box-sizing: border-box;
    }
}

.card-title {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.44px;
    text-align: left;
    color: #454545;
    
    /* Ограничиваем заголовок 2 строками с многоточием */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(16.44px * 2); /* 2 строки по высоте line-height */
}

.card-description {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: left;
    color: #454545;
    padding-top: 10px;
    padding-bottom: 10px;
    
    /* Ограничиваем описание 3 строками с многоточием */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(16.44px * 3); /* 3 строки по высоте line-height */
}

.card-price-old {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    text-decoration-line: line-through;
    color: #c7c7c7;
}

.card-price-main {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #72BF44;
}

.small-text {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.19px;
    text-align: right;
    color: #c7c7c7;
}
