.blue-button {
    color: #2271b1;
    font-size: 13px;
}

.table-product-title:hover {
    .panel-table-action-row {
        color: #2271b1;
        .panel-reject-button {
            color: rgb(223, 40, 40);
        }
        *:not(:last-child)::after { 
            color: rgba(0, 0, 0, 0.2);
        }
    }
}

.stock-indicator {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.stock-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.stock-low {
    background-color: #ff4444;
}

.stock-medium {
    background-color: #ffaa44;
}

.stock-high {
    background-color: #44aa44;
}